//variables

$gold: #e99406
$bg: #0c0c0c
$bg2: #1b1b1b
$text: #706f6f

//variables-end

body
  background-color: $bg

#top-line
  background-color: #fff

//#page
//#main-top

.parent-box
  background-color: $bg2
  box-shadow: 0px 0px 3px #fff

//#header-box
//#logo-box
//#search-box

#search-input
  background-color: $bg
  color: #fff

.header-btn
  background-color: $bg

//#search-btn
//#filter-btn
//#m-p-d-left

#avatar-img
  background-color: inherit
  float: left

#username
  color: $text

//#m-p-d-right

#level
  color: $text

#points
  color: $text

#points-line
  background-color: $gold

#points-line-bg
  background-color: $text

//#header-right-btns

#user-settings-btn
  background-color: inherit

//#user-settings

#notifications-btn
  background-color: inherit

//#notifications

#logout-btn
  background-color: inherit

//#logout

//#main-center

//#left-box

//#categories-icons

//#categories-icons img

//#categories

.active-menu
  border-color: $gold

//#left-box li

#left-box li:hover
  background-color: $bg

#left-box a
  color: $text

#dates
  border-color: $bg

//#unique-date-box

#unique-date-box span
  color: $text

#unique-date-input
  background-color: $text
  font-family: caviar
  color: #fff

//#right-box

//#recommendation-box

.title
  border-color: $gold

//#content-box

//#main-bottom

//#footer-box
